@import "../mixins";
@import "../config";

.edit-panel.theme-4 {
    .viewport-flip, .card-preList-box .flip {
        width  : 332px;
        height : 410px;
        @media (max-width : 1600px) {
            width  : 260px;
            height : 335px;
        }
        @media (max-width : 1440px) {
            width  : 200px;
            height : 254px;
        }
    }
    .card-preList {
        padding-top : 0 !important;
    }
    .viewport-flip {
        margin   : {
            left : -165px;
        }
        @media (max-width : 1600px) {
            margin-left : -130px;
        }
        @media (max-width : 1440px) {
            margin-left : -100px;
        }
    }
    .card-content {
        margin   : {
            left : -141px;
            top  : -23px;
        }
        @media (max-width : 1600px) {
            margin   : {
                left : -123px;
                top  : -14px;
            }
        }
        @media (max-width : 1440px) {
            margin   : {
                left : -90px;
                top  : -16px;
            }
        }
    }
    .flipcard-title {
        margin-bottom : 0;
    }
}
