@import "mixins";

/* 主题列表 */
.theme-box {
    padding : 0 15px;
}

.theme-list {
    overflow : hidden;
    .theme-item {
        width          : 50%;
        float          : left;
        padding-bottom : 10px;
    }
    .thumb-box {
        width  : 86px;
        height : 62px;
        margin : 0 auto;
        border : 1px solid transparent;
        cursor : pointer;
        background   : {
            position : 50% 50%;
            size     : cover;
        }
        &:hover, &.active {
            border-color     : #e3512f;
            background-color : #ffdfdf;
        }
    }
}

// 编辑面板
.edit-panel {
    background   : {
        position : top center;
        size     : cover;
    }
}

